html,
body {
  height: 100%;
}

body {
  background-image: asset-url('background.png');
  color: white;
  font-family: $font-raleway;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  background-size: cover;

  background-color: #464646;
}
