footer {
  position: fixed;
  bottom: 0rem;
  left: 0;
  right: 0;
  height: 40px;
  padding: 0.5rem 0;
  background-color: #3A4850;
  color: white;
  text-align: center;
}

@media (min-width: 300px) {
  footer {
    p {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      font-size: 10px;
    }
  }
}

@media (min-width: 550px) {
  footer {
    p {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      font-size: 15px;
    }
  }
}
