<div class="section">
  <div class="container">
    <div class="row logo-row">
      <%= image_tag 'logo.png', class: 'logo' %>
    </div>
    <div class="row">
      <div class="one-half column info">
        <h4 class="hero-heading">Personalized travel recommendations from trusted friends.</h4>
        <a href="https://itunes.apple.com/us/app/tripvise.me/id971926630?ls=1&mt=8">
          <%= image_tag 'apple_store.png', class: 'app-store-btn' %>
        </a>
      </div>
      <div class="one-half column phone">
        <%= image_tag 'mobile.png' %>
      </div>
    </div>
  </div>
</div>
