<div class="section">
  <div class="container">
    <div class="row">
      <div class="one-half column info">
        <%= image_tag 'logo.png', class: 'logo' %>
        <h5 class="hero-heading">Personalized travel recommendations from trusted friends.</h5>
        <p class="description">
          It's simple: create a trip and ask your friends for recommendations or find a friend's trip and share your recommendations!
          Friends are able to see detailed information about the places which are recommended, including pictures, hours of operations, maps, reviews, etc.
        </p>
      </div>
      <div class="one-half column phones">
        <%= image_tag 'mobile.png', class: 'phone' %>
      </div>
    </div>
  </div>
</div>
