<div class="section">
  <div class="container">
    <div class="row logo-row">
      <%= image_tag 'logo.png', class: 'logo' %>
    </div>
    <div class="row">
      <div class="column privacy-policy">
        <p>Tripvise.me allows users to provide and receive travel recommendations, such as recommendations about Hotels, Restaurants and Attractions worldwide. Our Mobile Application ("app"), Tripvise.me, and our Tripvise.me Website are owned and operated by Stampdit Inc, a Canadian, federally incorporated business.</p>

        <p>Your privacy is very important to us, and collection of data is aimed at providing a better service to you, our user. Before using our app or submitting any personal information to us, please read this Policy carefully to learn about our privacy practices. By using our app or submitting personal information, you consent to the collection, use, disclosure of your personal information (as defined below) in accordance with the practices described herein. If you do not agree with these terms, do not use our app or provide any personal information to us.</p>

        <p>Information we collect from you:
        We receive and store information you enter in our app. This includes information that can identify you or that can be identified as being about you ("personal information"), including your first and last name and e-mail address. We use Facebook Login for the purposes of logging you into our app. We believe that Facebook Login provides users with a secure login service. Upon logging in the first time, we request your consent to see which of your Facebook friends also use of our app and request to have access to your email address. In our app, you may input information about your travel plans, including destination locations and trip dates, which information we collect, store and use. You may also input information regarding your opinions and recommendations about places you have been to, which information we collect, store and use. You can choose not to provide such information to us, but such information is required in order for you to enjoy the benefits of our app. For example, you will only be able to use the app to request travel recommendation from your friends or offer recommendations to your friends if you share such information with us.</p>

        <p>Information About Others: Our app includes the function of sending your trip code to your friends via an SMS text or iMessage, which requires us to access your phone’s contact list. We request access to your contacts through the app. We do not collect or store information in your phone’s contact list.</p>

        <p>Automatic Information: We collect session information when you use our app. For example, we will collect session data, including your IP address, OS versions, Web browser software, among other usage information for analytics purposes. We also may collect information about your activity in our app, such as content viewed and screens visited. We use this information to help us understand the interests of our users and customize your user experience.</p>

        <p>How we use your information:
        In general: We use the information above which we collect about you through our app for the following general purposes: 1) to manage your account, including to facilitate your access to and use of our app. 2) to communicate with you in general, including to provide notifications. 3) to enable you to ask your friends for recommendations and to enable you to reply to your friend’s request for recommendations. 4) to respond to your questions and comments. 5) for analytics purposes, to measure interest in and improve our app and Web site. 6) to troubleshoot problems. 7) to prevent potentially prohibited or illegal activities. 8) to comply with our legal and regulatory obligations. 9) and as otherwise described to you at the point of collection.</p>

        <p>Why we request access to your Facebook friends who also use our app:
        So that we can: 1) allow you to ask your Facebook friends for their recommendations through our app. 2) allow you to reply to a Facebook friend’s request for recommendation. 3) protect your privacy and verify that people trying to view details about your trip or add recommendations to your trips are in fact your Facebook friends before they can see any of your upcoming trip details.</p>

        <p>With whom we share your information:</p>
        <p>1) Sharing of Information Regarding Your Upcoming Trip: Your Facebook Friends who have been invited by you to recommend a place via the app, or your Facebook friends who have access to any of your unique trip codes, which identify your trips, can see details about your upcoming trips, so that they can offer their recommendations. We do not allow users of our app to see your trips if they are not your Facebook friends, even if they have a valid trip code for your trip. We provide you with your trip code and allow you to share it how and with whom you please, but only your Facebook Friends will be able to find your trip with said trip code through our app.</p>

        <p>2) Sharing of Information Regarding Your Recommendations:</p>
        <p> i) Your personalized comments about a place to a friend: Your Facebook Friend, who has asked for your recommendation or whose trip code you have access to, will be able to see your written comments about a place you recommend. Other users or the general public are not be able to see your personalized written comments about a place. ii) The Tripvise.me rating: We request users to rate any place they are recommending based on our standardized ratings levels (good, great, amazing). Tripvise.me standardized ratings about a place will be collected and stored and may be used by us in the future. For example, aggregate standardized rating information, such as overall count of each rating level for a specific place, may be made available to the general public in the future.</p>

        <p>We also may share your information:</p>
        <p>• In response to subpoenas, court orders, or other legal process; to establish or exercise our legal rights; to defend against legal claims; or as otherwise required by law. In such cases, we reserve the right to raise or waive any legal objection or right available to us.</p>
        <p>• When we believe it is necessary to investigate, prevent, or take action regarding illegal or suspected illegal activities; to protect and defend the rights, property, or safety of Stampdit Inc., our customers, or others; and in connection with our Terms of Service and other agreements.</p>
        <p>• In connection with a corporate transaction, such as a divestiture, merger, consolidation, or asset sale, or in the event of bankruptcy.</p>

        <p>We also may share aggregate or anonymous information with third parties, including advertisers and investors. For example, we may tell our advertisers the number of visitors our Web site and/or app receives or the most popular hotels, restaurants and vacation destinations. This information does not contain any personal information and would be used to develop content and services we hope you will find of interest.</p>

        <p>Other than as set out above, you will be notified about changes to our Privacy Policy or when personal information about you will be shared with third parties, and you will have an opportunity to choose not to have us share such information.</p>

        <p>Your choices with respect to the collection and use of your information:</p>
        <p>We take reasonable steps to ensure that your information is relevant to its intended use, accurate, and complete. You can decide to stop allowing our access to your information through the following actions:</p>

        <p>• As discussed above, you can choose not to provide us with any information, although it may be needed to take advantage of certain features offered through our app.</p>
        <p>• Upon your first login to our app, we request access to your information and you can decide not to share such information. Functionality is limited or null if we are not allowed access to such information.</p>

        <p>• We request access to your contact list so that you can easily share your trip code via SMS/iMessage with friends who do not yet use our app. You can disable our access to your contacts in your phone settings, under the setting of our app.</p>
        <p>• You also can add or remove Facebook login access to our app via your settings on Facebook.
        Please note that we reserve the right to send you other service and privacy related communications, including service announcements and administrative messages relating to your Tripvise.me account, without offering you the opportunity to opt out of receiving them.</p>

        Please also note that we may retain certain information associated with your account in our archives, including for analytical purposes as well as for recordkeeping integrity.</p>

      <p>How we protect your information:</p>
      <p>We want you to feel confident about using our app, and we are committed to protecting the information we collect. While no Web site or app can guarantee security, we have implemented what we believe to be appropriate administrative, technical, and physical security procedures to help protect the personal information you provide to us. For example, only authorized members of our team are permitted to access personal information, and they only may do so for permitted business functions. In addition, we use Facebook login, which we believe is a safe login method and we validate if people are Facebook friends before they can interact with you via the app.</p>

      <p>Children’s privacy:</p>
      <p>Tripvise.me website and our app are for general audience and do not offer services directed to children. Should an individual whom we know to be a child under age 13 send personal information to us, we will delete or destroy such information as soon as reasonably possible.</p>

      <p>External links:</p>
      <p>Parts of our Tripvise.me website and our app link you to other Web sites, those external Web sites do not operate under this Privacy Policy and we cannot guarantee privacy reliability of such links. We recommend that you examine the privacy statements posted on those other Web sites to understand their procedures for collecting, using, and disclosing personal information.</p>

<p>Data Storage:</p>
<p>Please be aware that your information may be transferred to or stored in contracted third party servers, and stored or processed in the United States, Canada or other countries where servers are located. We choose what we believe to be large and reliable service providers based in the US and Canada, who may store data in other countries. The data protection laws and other privacy laws of the United States, Canada and other countries might not be as comprehensive as those in your country.</p>

<p>Changes to this Privacy Policy:</p>
<p>We may update this Privacy Policy in the future. We will notify our members about material changes to this Privacy Policy by either sending a notice to the e-mail address you provided to us or by placing a prominent notice on our Web site.</p>


<b>Modified March 12, 2015</b></p>
      </div>
    </div>
  </div>
</div>